.qr-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .qr-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .qr-image-container {
    background: #f3f4f6;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .qr-image {
    width: 200px;
    height: 200px;
  }
  
  .qr-title {
    margin-bottom: 10px;
  }
  
  .download-button {
    margin-top: 20px;
  }
  
  .qr-image {
    width: 150px; /* Ancho fijo */
    height: 150px; /* Alto fijo para que sea cuadrado */
    border-radius: 8px; /* Bordes ligeramente redondeados */
    object-fit: cover; /* La imagen ocupará todo el espacio del contenedor sin deformarse */
  }
  