.table-button {
    width: 50%;              /* Asegura que el botón ocupe todo el ancho de la celda */
    display: block;           /* Hace que el botón se comporte como un bloque */
    padding: 10px 0;          /* Agrega padding para mayor comodidad al hacer clic */
    text-align: center;       /* Centra el texto dentro del botón */
    font-weight: bold;        /* Hace que el texto del botón sea más destacado */
  }
  
  .table-button:hover {
    background-color: #004b87; /* Un color diferente cuando se pasa el mouse */
  }
  